body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(25, 25, 25);
  color: rgb(210, 16, 16);
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 300px;
  color: rgb(210, 16, 16);
}
